@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Outfit:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&family=Outfit:wght@300;400;600&display=swap');

/*
font-family: 'Inter', sans-serif;
font-family: 'Lexend Deca', sans-serif;
*/
*,
*:after,
*:before{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    font-size: 65.2%;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    background-color: $very-dark-blue-main;
}

.container{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.attribution{
    font-family: 'Inter', sans-serif;
    text-align: center;
    color: $white-main;
    font-size: 1.5rem;
    padding: 5rem;

    & a{
        text-decoration: none;
        color: $soft-violet-accent;
    }
}